@mixin fillparent {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.nismenubar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nismenubutton {
	width: 21px;
	height: 21px;
	cursor: pointer;
	user-select: none;
	background-image: url("/nis/alt1-currentskin/buttonsmall.png");
	background-size: auto 42px;
	position: relative;

	&__inner {
		@include fillparent();
		:hover {
			background-position-y: -21px;
		}
		&--offset1 {
			background-position-x: -21px;
		}
		&--offset2 {
			background-position-x: -42px;
		}
	}

	:hover {
		background-position-y: -21px;
	}
}
